.icon {
    background: none;
    border:none;
    margin-right:3%;
    margin-left:3%;
}

.glyphicon {
    font-size:130px;
}

.glyphicon:hover {
    color:#b1ecef;
}

.book_apply {
    width:100%;
    margin-bottom:2%;
}

.content2 {
    width:70%;
    margin-left:20%;
}
