<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>BOOKTOPIA_SUGGESTLIST</title>
    <link rel="stylesheet" href="../css/suggestlist.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <b>이용시간: 1:05 ~ 1:35, 6:05 ~ 6:35</b>
        <button id="searchbutton" type="button"><span class="glyphicon glyphicon-search"></span></button>
        <input id="search" type="text" name="도서검색" placeholder=" Book Search">
    </header>
    <div class="menu">
        <a href="/"><img src="../img/logo.png"></a>
        <div class="menubar">
            <ul>
                <li id="nowpage"><a href="../html/suggestlist.html">건의목록</a></li>
                <li><a href="#">도서신청</a></li>
                <li><a href="#">도서신문</a></li>
                <li><a href="#">도서행사</a></li>
                <li><a href="#">건의하는건의함</a></li>
            </ul>
        </div>
    </div>
    <div class="gate">
        <table>
            <tr>
                <td class="num">No.</td>
                <td class="name">작성자</td>
                <td class="date">작성일시</td>
                <td class="suggestcontent">건의내용</td>
            </tr>
            <!--
                <% for(num in suggestlist) %>
                <tr>
                    <td class="num"><%= suggestlist[num].number %></td>
                    <td class="name"><%= suggestlist[num].writer %></td>
                    <td class="date"><%= suggestlist[num].date %></td>
                    <td class="suggestcontent"><%= suggestlist[num].contents %></td>
                </tr>
            -->
            <tr>
                <td class="num">1</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">2</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">3</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">4</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">5</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">6</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">7</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">8</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">9</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">10</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">11</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
            <tr>
                <td class="num">12</td>
                <td class="name">박해빈</td>
                <td class="date">2016.02.16</td>
                <td class="suggestcontent">도서관에 에어컨을 좀 더 빵빵하게 틀어주세요.</td>
            </tr>
        </table>
    </div>
    <footer>
        <img id="info" src="../img/schoolinfo.png">
        <img id="dsmlogo" src="../img/dsmlogo.png">
    </footer>
</body>

</html>
